*{
font-weight: bold;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.items{
    padding-left: 250PX;
}
.foto-container {
    display: flex;
    align-items: flex-start;
}
.container {
    display: flex;
    flex-direction: column;
}
.foto {
    width: 329.39px;
    height: 357.3px;
    margin-top: 75px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 20px; /* Espacio entre las imágenes */
}
.tecnologias1, .tecnologias3 {
    width: 60px;
    height: 60px;
    margin-top: 75px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 60px;
    margin-bottom: 10px; /* Espacio entre las imágenes */
}
.tecnologias2, .tecnologias5 {
    width: 60px;
    height: 60px;
    margin-top: 75px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Espacio entre las imágenes */
}
.tecnologias4, .tecnologias6 {
    width: 60px;
    height: 60px;
    margin-top: 75px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px; /* Espacio entre las imágenes */
    margin-left: -50px;
}
h2 {
    font-size: 48px;
    margin: 0.5rem 0;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre {
font-size: 28px;
font-weight: bold;

}
.nav-item {
    font-size: 20px;
    }
a {
    text-decoration: none;
}
.imgportfolio {
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.acercaDeMi {
    display: flex;
    justify-content: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.form-label {
    font-size: 24px;
}
.contacto {
    display: flex;
    justify-content: center;
    margin-left: 20%;
}
label {
    margin-left: 5%;
    margin-left: 10%
}
input {
    margin-left: 10%;
}
p {
    padding: 3px;
    margin-left: 7%;
    margin-right: 7%;
}
button {
    margin-left: 10%;
}
.lead {
    font-size: 25px;
}
footer {
    width: 100%;
}
  
.pieDePagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parrafo {
    margin: 0px;
    margin-right: 1%;
    font-size: 1em;
 }

.grupo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.whatsapp{
    width: 10%;
}
.numero {
    font-size: 16px;
    color: #212529;
    margin: 0.5em
}
.box {
    width: 30%;
    margin-bottom: 20px;
}
.porfolio {
    flex: 1 0 33%;
    max-width: 33%;
    padding: 0 10px;
    margin-bottom: 20px;
} 

.row {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .items {
        padding-left: 0px;
    }
    .container {
        max-width: 100%;
    }
  }
  @media (max-width: 830px) {
   h3{
    font-size: 20px;
   }
}
@media (max-width: 768px) {
    .foto {
        width: 229.39px;
        height: 257.3px;
        margin-top: 75px;
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-right: 20px; /* Espacio entre las imágenes */
    }
    .tecnologias1, .tecnologias3 {
        width: 40px;
        height: 40px;
        margin-top: 75px;
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-left: 60px;
        margin-bottom: 5px; /* Espacio entre las imágenes */
    }
    .tecnologias2, .tecnologias5 {
        width: 40px;
        height: 40px;
        margin-top: 75px;
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 5px; /* Espacio entre las imágenes */
    }
    .tecnologias4, .tecnologias6 {
        width: 40px;
        height: 40px;
        margin-top: 75px;
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 5px; /* Espacio entre las imágenes */
        margin-left: -50px;
    }
    h2 {
        font-size: 36px;
    }
    .grupo1 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .box {
      width: 100%;
    }
    .porfolio {
        flex-basis: 100%;
        max-width: 100%;
    }
    .container {
        max-width: 100%;
    }
    .imgportfolio {
        width: 300px;
        height: auto;
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    .lead {
        font-size: 20px;
    }
  }
  @media (max-width: 430px) {
    .foto {
        width: 159px;
        height: 170.3px;
        margin-top: 105px;
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-right: 15px; /* Espacio entre las imágenes */
    }
    .tecnologias1 {
        width: 30px;
        height: 30px;
        margin-top: 75px;
        margin-left: 85px;
        margin-bottom: 10px; /* Espacio entre las imágenes */
    }
    .tecnologias2{
        width: 30px;
        height: 30px;
        margin-top: 30px;
        margin-bottom: 10px; /* Espacio entre las imágenes */
        margin-left: 50px;
    }
    .tecnologias3{
        width: 30px;
        height: 30px;
        margin-top: 30px;
        margin-left: 85px;
        margin-bottom: 10px;
    }
    .tecnologias4 {
        width: 30px;
        height: 30px;
        margin-top: 75px;
        max-width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 10px; /* Espacio entre las imágenes */
        margin-left: -50px;
    }
    .tecnologias5 {
        width: 30px;
        height: 30px;
        margin-top: 30px;
        margin-bottom: 10px;
        margin-left: -10px;
    }
    .tecnologias6 {
        width: 30px;
        height: 30px;
        margin-top: 30px;
        margin-left: -45px;
        margin-bottom: 10px;
    }
    .imgportfolio {
        width: 200px;
    }
    .nombre {
        font-size: 24px;
    }
    h2 {
        font-size: 33px;
    }
    .menu{
        font-size: 15px;
    }
    .container-fluid{
        padding: auto;
    }
    .foto {
        margin-top: 75px;
    }
    .form-label {
        font-size: 17px;
    }
    .lead {
        font-size: 20px;
    }
  }
  @media (max-width: 397px) {
    .nombre {
        font-size: 20px;
    }
    h2 {
        font-size: 30px;
    }
    .container-fluid {
        padding-left: 0;
        display: flex;
    }
    
    .menu{
        font-size: 10px;
        margin-left: 0px;
        content: none;
    }
    .foto {
        margin-right: 0px;
    }
    .tecnologias1 {
        margin-left: 20px;
    }
    .tecnologias2{
        margin-left: 0px;
    }
    .tecnologias3{
        margin-left: 20px;
    }
    .tecnologias4 {
        margin-left: -20px;
    }
    .tecnologias5 {
        margin-left: 0px;
    }
    .tecnologias6 {
        margin-left: -20px;
    }
  }  