*{
font-weight: bold;
}
.items{
    padding-left: 250PX;
}
.foto {
    width: 329.39px;
    height: 357.3px;
    margin-top: 75px;
}
h2 {
    font-size: 48px;
    margin: 0.5rem 0;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nombre {
font-size: 28px;
font-weight: bold;

}
.nav-item {
    font-size: 20px;
    }
a {
    text-decoration: none;
}
.imgportfolio {
    max-width: 80%;
    height: auto;
}
.acercaDeMi {
    display: flex;
    justify-content: center;
}
.formulario {
    display: flex;
    flex-direction: column;
    width: 80%;
}
.form-label {
    font-size: 24px;
}
.contacto {
    display: flex;
    justify-content: center;
    margin-left: 20%;
}
label {
    margin-left: 5%;
    margin-left: 10%
}
input {
    margin-left: 10%;
}
p {
    padding: 3px;
    margin-left: 7%;
    margin-right: 7%;
}
button {
    margin-left: 10%;
}
.lead {
    font-size: 25px;
}
footer {
    width: 100%;
}
  
.pieDePagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.parrafo {
    margin: 0px;
    margin-right: 1%;
    font-size: 1em;
 }

.grupo1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.whatsapp{
    width: 10%;
}
.numero {
    font-size: 16px;
    color: #212529;
    margin: 0.5em
}
.box {
    width: 30%;
    margin-bottom: 20px;
}
.porfolio {
    flex: 1 0 33%;
    max-width: 33%;
    padding: 0 10px;
    margin-bottom: 20px;
} 

.row {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 991px) {
    .items {
        padding-left: 0px;
    }
  }
@media (max-width: 768px) {
    h2 {
        font-size: 36px;
    }
    .grupo1 {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .box {
      width: 100%;
    }
    .porfolio {
        flex-basis: 100%;
        max-width: 100%;
    }
  }
  @media (max-width: 425px) {
    .menu{
        font-size: 15px;
    }
    .container-fluid{
        padding: auto;
    }
    .foto {
        margin-top: 75px;
    }
  }
  @media (max-width: 397px) {
    .container-fluid {
        padding-left: 0;
        display: flex;
    }
    .foto {
        margin-top: 105px;
    }
    .menu{
        font-size: 10px;
        margin-left: 0px;
        content: none;
    }
  }  